/* ************************ *
 *       @ANIMATION         *
 * ************************ */
.animation(@name, @duration:3s, @delay:1s, @iteration:infinite, @direction:alternate) {
    
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
}