/* ************************ *
 *      @APPEARANCE         *
 * ************************ */
.appearance(@wert: none) {

    -webkit-appearance: @wert;
    -moz-appearance: @wert;
    appearance: @wert;
}