/**
 * @APPEARANCE         
 * 
 * Example:
 * // CSS class
 * .appearance {
 *     // LESS mixin
 *     .appearance();
 * }
 */

.appearance(@value: none) {

    -webkit-appearance: @value; /* Chrome | Safari */
    -moz-appearance: @value; /* Firefox */
    -ms-appearance: @value; /* Internet Explorer */
    -o-appearance: @value; /* Opera */
    appearance: @value; /* W3C */
}