/**
 * @BORDER-RADIUS
 *
 * Example:
 * // CSS class
 * .border-radius {
 *   // LESS mixin
 *   .border-radius(20px 10px);
 * }
 */

.border-radius(@value: 5px) {

    -webkit-border-radius: @value; /* Chrome 4.0 -webkit- | Safari 3.1 -webkit- */
    -moz-border-radius: @value; /* Firefox 3.0 -moz- */
    border-radius: @value; /* Opera 10.5 | IE 9.0 | Firefox 4.0 | Chrome 5.0 | Safari 5.1 | W3C */
}