/* ************************ *
 *       @BOX-SHADOW        *
 * ************************ */

.box-shadow(@string: 0 1px 3px rgba(0,0,0,.03)) {

    -webkit-box-shadow: @string; // Chrome 4.0 -webkit- | Safari 3.1 -webkit-
    -moz-box-shadow: @string; // Firefox 3.5 -moz-
    box-shadow: @string; // Opera 10.5 | IE 9.0 | Chrome 10.0 | Safari 5.1 | Firefox 4.0
}