/* ************************ *
 *      @BOX-SIZING         *
 * ************************ */
.box-sizing(@type: border-box) {

    -webkit-box-sizing: @type; // Chrome 10.0 none 4.0 -webkit- | Safari 5.1 none 3.2 -webkit-
    -moz-box-sizing: @type; // Firefox 29.0 none 2.0 -moz-
    box-sizing: @type; // Opera 10.5 | IE 8.0
}
