/* ************************ *
 *         @COLUMN          *
 * ************************ */

.column(@count:2, @gap:40px, @rule:4px dotted #222) {

    -webkit-column-count: @count; /* Chrome 4.0 -webkit- | Safari 3.1 -webkit- | Opera 15.0 -webkit- */
    -moz-column-count: @count; /* Firefox 2.0 -moz- */
    column-count: @count; /* Opera 37.0 - 11.1 | IE 10.0 | Chrome 50.0 | Safari 9.0 | W3C */

    -webkit-column-gap: @gap; /* Chrome 4.0 -webkit- | Safari 3.1 -webkit- | Opera 15.0 -webkit- */
    -moz-column-gap: @gap; /* Firefox 2.0 -moz- */
    column-gap: @gap; /* Opera 37.0 - 11.1 | IE 10.0 | Chrome 50.0 | Safari 9.0 | W3C */

    -webkit-column-rule: @rule; /* Chrome 4.0 -webkit- | Safari 3.1 -webkit- | Opera 15.0 -webkit- */
    -moz-column-rule: @rule; /* Firefox 2.0 -moz- */
    column-rule: @rule; /* Opera 37.0 - 11.1 | IE 10.0 | Chrome 50.0 | Safari 9.0 | W3C */
}