/* ************************ *
 *         @OPACITY         *
 * ************************ */

.opacity(@opacity) {

    @ieOpacity: @opacity * 100;

    opacity: @opacity; /* W3C | Opera 9.0 | Firefox 2.0 | Chrome 4.0 | Safari 3.1 */

    .ie5x & {
        filter: ~"progid:DXImageTransform.Microsoft.Alpha(@{ieOpacity})"; /* IE 5.5 - later */
    }

    .ie6 &, 
    .ie7 & {
        filter: ~"alpha(opacity='@{ieOpacity}')"; /* IE 4.0 | 6 - 7 */
    }

    .ie8 &,
    .ie9 & {
        -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity='@{ieOpacity}')"; /* IE 8 - 9 */
    }
}