/* ************************ *
 *      @PLACEHOLDER        *
 * ************************ */
.placeholder(@value: #ccc) {

    &::-webkit-input-placeholder {
        
        color: @value; // Chrome, Safari, Opera
    }
    
    &::-moz-placeholder {
        
        color: @value; // Firefox 19+
    }
    
    &:-ms-input-placeholder {
        
        color: @value; // IE 10+
    }
}