/* ************************ *
 *        @TAB_SIZE         *
 * ************************ */
.tab-size(@int: 4) {

    -moz-tab-size: @int; // Chrome 21.0 none | Safari 6.1 none
    -o-tab-size: @int; // Firefox 4.0 -moz-
    tab-size: @int; // Opera 15.0 none 10.6 -o- | IE NO SUPPORT
}