/* ************************ *
 *        @TAB_SIZE         *
 * ************************ */

.tab-size(@int: 4) {

    /* IE no support */
    -moz-tab-size: @int; /* Firefox 4.0 -moz- */
    -o-tab-size: @int; /* Opera 10.6 -o- */
    tab-size: @int; /* Opera 15.0 | Chrome 21.0 | Safari 6.1 */
}