/* ************************ *
 *        @TAB_SIZE         *
 * ************************ */
.tab-size(@int: 4) {

    -moz-tab-size: @int; /* Code for Firefox */
    -o-tab-size: @int; /* Code for Opera 10.6-12.1 */
    tab-size: @int;
}