/* ************************ *
 *          @SCALE          *
 * ************************ */
.t-scale3d(@factor) {

    -webkit-transform: scale3d(@factor);
    -moz-transform: scale3d(@factor);
    -ms-transform: scale3d(@factor);
    -o-transform: scale3d(@factor);
    transform: scale3d(@factor);
}