/* ************************ *
 *          @SKEW           *
 * ************************ */
.t-skew(@deg) {

    -webkit-transform: skew(@deg);
    -moz-transform: skew(@deg);
    -ms-transform: skew(@deg);
    -o-transform: skew(@deg);
    transform: skew(@deg);
}