/* ************************ *
 *          @ROTATE         *
 * ************************ */
.t-rotate3d(@arguments) {

    -webkit-transform:rotate3d(@arguments);
    -moz-transform:rotate3d(@arguments);
    -ms-transform:rotate3d(@arguments);
    transform:rotate3d(@arguments);
}