/**
 * @SCALE
 *
 * For Browser specification
 * @see https://github.com/Samettarim/less-mixins/blob/master/partials/_transform.less
 */
.t-scale(@factor) {

    -webkit-transform: scale(@factor);
    -moz-transform: scale(@factor);
    -ms-transform: scale(@factor);
    -o-transform: scale(@factor);
    transform: scale(@factor);
}