/* ************************ *
 *       @TRANSFORM         *
 * ************************ */
.transform(@string) {

    -webkit-transform: @string; // Chrome 4.0 -webkit- | Safari 3.2 -webkit-
    -moz-transform: @string; // Firefox 3.5 -moz-
    -ms-transform: @string; // IE 9.0
    -o-transform: @string; // Opera 15.0 -webkit- 10.5 -o-
    transform: @string; // IE 10.0 | Opera 23.0 | Firefor 16.0 | Chrome 36.0 | Safari 9.0
} 

/* ************************ *
 *    @TRANSFORM-ORIGIN     *
 * ************************ */
.transform-origin(@x:center, @y:center) {

    -webkit-transform-origin: @x @y;
    -moz-transform-origin: @x @y;
    -ms-transform-origin: @x @y;
    -o-transform-origin: @x @y;
    transform-origin: @x @y;
}